.photo-card {
    flex-basis: calc((100% - 4 * 24px) / 5);


}

.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.search-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: darkgreen;
    height: 100px;
    width: 100%;
}



.load-more {
    width: 140px;
    height: 40px;
    margin-left: 10px;
    padding: 13px 18px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(22, 61, 19);
}
.form {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 

 }

button {
    color: #f0f8ff;
    text-align: center;
    background-color: rgb(22, 61, 19);
    border-style: none;
    border-radius: 5px;
    padding: 8px;
}

input {
    border-style: none;
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px;
}